# Python cache
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.Trash-*

# Virtual environments
.venv/
venv/
env/

# Tool caches
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.vscode/

# Outputs
outputs/

# archive
archive/
archive/**
!archive/.gitkeep
!archive/**/.gitkeep
!archive/**/**/.gitkeep
!archive/**/**/**/.gitkeep
!archive/**/**/**/**/.gitkeep
!archive/**/**/**/**/**/.gitkeep
!archive/**/**/**/**/**/**/.gitkeep
!archive/**/**/**/**/**/**/**/.gitkeep
!archive/**/**/**/**/**/**/**/**/.gitkeep

# OS
.DS_Store
Thumbs.db

# docker
Dockerfile
docker-compose.yml
run_container.sh
.dockerignore